Amit Smart Email Assistant - Working Version.json
{
  "name": "Amit Smart Email Assistant - Working Version",
  "nodes": [
    {
      "parameters": {
        "content": "## Incoming Emails\nThis will trigger on any new incoming emails\n",
        "height": 416,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        -112
      ],
      "id": "f2317a47-3a43-455b-a48c-197a0c20de46",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -336,
        -16
      ],
      "id": "5f953057-ca1e-4f2b-b96e-0f521d9a4bba",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "wPwFwmuRon71wArk",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2eb9d0dd-8fa1-47d1-b656-9c95c4f41d92",
              "name": "emailBodys",
              "value": "={{ $json.snippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        -16
      ],
      "id": "96d557d1-936e-4c5c-897c-891818354015",
      "name": "EmailBody"
    },
    {
      "parameters": {
        "inputText": "={{ $json.emailBodys }}",
        "categories": {
          "categories": [
            {
              "category": "Promotional",
              "description": "Marketing, offers, discounts, sales pitches, newsletters."
            },
            {
              "category": "Support_Service",
              "description": "Customer inquires, troubleshooting, complaints, or requests."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        128,
        -16
      ],
      "id": "2b5324ce-a682-40fd-8655-d4a105af129b",
      "name": "Classify_Email",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Classify Email\nwe will classify the email recieved based on promotion or custom Support\n",
        "height": 416,
        "width": 480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        -112
      ],
      "id": "f9c97f1b-5114-4af2-ae14-5c1bc78fb79d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Retrieval & Email Draft\nwe will pull in any information need from a vector database and draft an email to the user with a response\n",
        "height": 624,
        "width": 672,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        576,
        -112
      ],
      "id": "1e3600e7-3737-40c8-9fcb-b7d159e6f713",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email received : {{ $json.emailBodys }}\n\nFrom : {{ $('Gmail Trigger').item.json.From }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a customer support email assistant for our e-commerce store called NovaMart.\n\nYour job is to read incoming customer emails, find the correct information using the available tools, and draft clear, professional, and helpful email replies.\n\nYou should always respond in a polite, human, and customer-friendly tone.\n\n# Tools\n- Vector_store  \n  Use this tool first to retrieve relevant company knowledge, store policies, product information, shipping details, return/refund policies, FAQs, and any support-related context.\n\n- email_draft  \n  Use this tool to draft the final email reply to the customer.\n\n# Rules\n- ALWAYS use Vector_store before answering any customer inquiry.\n- NEVER make up information if it is not found in the Vector_store.\n- If the information is missing or unclear, politely say that you need more details or that the support team will follow up.\n- ALWAYS draft a complete email reply.\n- Keep replies concise, clear, and professional.\n- Answer the customer’s exact question directly.\n- If multiple questions are asked, answer each one clearly.\n- Do not mention internal tools like Vector_store or email_draft.\n- Do not sound robotic or overly formal.\n- Make the email draft a medium length, keeping it concise with a good structured.\n\n# Email Style\n- Start with a polite greeting.\n- Thank the customer for reaching out.\n- Provide a clear and helpful response.\n- End politely.\n- Sign the email as:\n\nBest regards,  \nAmit Prasad  \nNovaMart Support\n\n# Priority\nYour first priority is accuracy.\nYour second priority is clarity.\nYour third priority is a helpful customer experience."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        768,
        0
      ],
      "id": "502f7589-3164-4f69-a808-edac25d22c38",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        640,
        208
      ],
      "id": "2c49ddfe-1898-4419-b4f9-e50feb97d295",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "oleFvbVuIdcz5uPJ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        128,
        160
      ],
      "id": "93b3688c-9f07-4514-870c-671279c0c6a9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oleFvbVuIdcz5uPJ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "work with the data inside the vector database to answer any question.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 10,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        816,
        224
      ],
      "id": "e34aac0d-a923-4a9a-b6b8-da52a060923b",
      "name": "Vector_store",
      "credentials": {
        "supabaseApi": {
          "id": "4rSo1ghKRtaoHdgW",
          "name": "N8N  _RAG_Test"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        816,
        384
      ],
      "id": "f70b7dc3-3547-4407-9a65-ec4797d0c0cf",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "oleFvbVuIdcz5uPJ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To_Email', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        1104,
        176
      ],
      "id": "ba3e565b-92a0-4766-a096-3750e4a75193",
      "name": "Create a draft in Gmail",
      "webhookId": "e3b0ee5b-e7f6-4a81-9be5-d8a1591323cc",
      "credentials": {
        "gmailOAuth2": {
          "id": "wPwFwmuRon71wArk",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1430299346",
        "text": "=New Inquiry received from  {{ $('Gmail Trigger').item.json.From.split(\"<\"),first }}\n\nAbout : {{ $('Gmail Trigger').item.json.Subject }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        0
      ],
      "id": "ac8c8fe9-3c3a-4e18-8b27-df5b618cfed8",
      "name": "Send a text message",
      "webhookId": "2176e8b4-3e7e-4fde-a509-7036bf6b6f69",
      "credentials": {
        "telegramApi": {
          "id": "BNudyHDIJK7CT0i3",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Inform Team \nLet the team know a new inquiry came through and that an email has drafted\n",
        "height": 384,
        "width": 432,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1312,
        -112
      ],
      "id": "98637a93-4d1b-49c4-8d89-d0928b55b418",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 📥 Incoming Emails\nTriggers whenever a new email arrives in Gmail.\n\nThis is the entry point of the automation.",
        "height": 280,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -736,
        1152
      ],
      "id": "8d06d99b-e6bd-42fa-b927-34f8291e2ee1",
      "name": "Sticky Note - Incoming"
    },
    {
      "parameters": {
        "content": "## 🧹 Prepare Email Data\nCreates structured fields for subject, sender, snippet and full prompt text.\n\nThis improves classification accuracy.",
        "height": 268,
        "width": 328,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        1152
      ],
      "id": "8aa32e81-aeed-4dc6-a558-4e05bc8a95e7",
      "name": "Sticky Note - Prepare"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "emailText",
              "value": "={{ \"Subject: \" + ($json.Subject || \"\") + \"\\n\" + \"From: \" + ($json.From || \"\") + \"\\n\" + \"To: \" + ($json.To || \"\") + \"\\n\" + \"Snippet: \" + ($json.snippet || \"\") }}",
              "type": "string"
            },
            {
              "name": "subjectLine",
              "value": "={{ $json.Subject || \"\" }}",
              "type": "string"
            },
            {
              "name": "senderName",
              "value": "={{ ($json.From || \"\").split(\"<\")[0].trim() }}",
              "type": "string"
            },
            {
              "name": "senderEmail",
              "value": "={{ (($json.From || \"\").match(/<([^>]+)>/) || [])[1] || ($json.From || \"\") }}",
              "type": "string"
            },
            {
              "name": "snippetText",
              "value": "={{ $json.snippet || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        1296
      ],
      "id": "8fb8e12d-05e6-4437-8048-c2c2d55675c8",
      "name": "Prepare_Email_Text"
    },
    {
      "parameters": {
        "content": "## 🤖 Rule-Based Classifier (Most Stable)\nThis section classifies emails without relying on fragile LLM JSON parsing.\n\nCategories:\n- Promotional\n- Support\n- Order_Query\n- Job_Opportunity\n- Assignment\n- Spam",
        "height": 340,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        32,
        1152
      ],
      "id": "274ac03c-b129-414d-b543-4abe3a13b569",
      "name": "Sticky Note - Classifier"
    },
    {
      "parameters": {
        "jsCode": "const subject = ($json.subjectLine || '').toLowerCase();\nconst body = ($json.snippetText || '').toLowerCase();\nconst from = ($json.senderEmail || '').toLowerCase();\nconst text = `${subject} ${body} ${from}`;\n\nlet category = 'Promotional';\nlet priority = 'low';\nlet reason = 'General promotional or low-priority email';\n\nconst hasAny = (arr) => arr.some(k => text.includes(k));\n\nif (hasAny(['internship','job opening','hiring','recruiter','opportunity','interview','career','application shortlisted','we are hiring','role'])) {\n  category = 'Job_Opportunity';\n  priority = 'high';\n  reason = 'Job or internship related email';\n} else if (hasAny(['assignment','submission','deadline','quiz','test','lab','project submission','coursework','classwork','exam'])) {\n  category = 'Assignment';\n  priority = 'high';\n  reason = 'Academic task or deadline email';\n} else if (hasAny(['order','shipment','tracking','invoice','refund','replacement','delivery','dispatch','payment received','return request'])) {\n  category = 'Order_Query';\n  priority = 'high';\n  reason = 'Order or delivery related email';\n} else if (hasAny(['support','issue','problem','unable','error','help','not working','complaint','customer service','login issue'])) {\n  category = 'Support';\n  priority = 'medium';\n  reason = 'Support or issue related email';\n} else if (hasAny(['unsubscribe','offer','discount','sale','webinar','newsletter','promo','campaign','register now','limited time'])) {\n  category = 'Promotional';\n  priority = 'low';\n  reason = 'Promotional or marketing email';\n} else if (hasAny(['lottery','urgent response','click here now','winner','claim prize','verify immediately','bank update'])) {\n  category = 'Spam';\n  priority = 'low';\n  reason = 'Likely spam or suspicious email';\n}\n\nreturn [{ json: { ...$json, category, priority, reason } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        1296
      ],
      "id": "361f6e9a-bd42-4475-a8eb-0537782f3d5c",
      "name": "Classify_Email_Safely"
    },
    {
      "parameters": {
        "content": "## 🔀 Routing Layer\nThis section routes emails based on category.\n\nOnly useful emails move ahead for alerts or reply drafting.",
        "height": 424,
        "width": 360,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        1104
      ],
      "id": "d1963322-0f5e-4640-b3f3-caac190386e6",
      "name": "Sticky Note - Routing"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Support",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7015a702-1e26-49fc-8526-840e5999c3ee"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Order_Query",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "30346df1-b173-4953-83ba-39b5928ed68c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Job_Opportunity",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "96478879-212e-4d36-a0e2-aaa985687c19"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Assignment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6c906f6b-cc64-41da-ad34-5648ac1941bb"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Promotional",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "81dcd415-6fa4-47a3-a8f0-ec9ca15d9ce5"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Spam",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b8c1b092-089d-4347-a3f8-423c7c232fe5"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        624,
        1232
      ],
      "id": "e1f6cb4b-66e4-4052-aacc-2d2b68955f11",
      "name": "Route_By_Category"
    },
    {
      "parameters": {
        "content": "## 🧠 AI Support Agent\nUsed only for support and order emails.\n\nIt retrieves relevant context from vector DB and drafts a professional reply.",
        "height": 320,
        "width": 380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        1088
      ],
      "id": "01d97cf1-4634-4c33-bf9e-1088d4f7e724",
      "name": "Sticky Note - Support"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email received:\n{{ $json.emailText }}\n\nFrom: {{ $json.senderEmail }}",
        "options": {
          "systemMessage": "# Overview\nYou are a customer support email assistant for NovaMart.\n\nYour job is to read incoming customer emails, use available tools, and draft a helpful email reply.\n\n# Rules\n- ALWAYS use Vector_store first for support/order emails.\n- NEVER invent company policy.\n- Draft a concise, clear, helpful response.\n- Sign as:\n\nBest regards,\nAmit Prasad\nNovaMart Support"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1072,
        1248
      ],
      "id": "9d413d90-2987-4466-ae73-47b41c278552",
      "name": "AI Support Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1072,
        1392
      ],
      "id": "26bf216b-4191-4a48-9261-453bd7510b77",
      "name": "OpenAI Support Model",
      "credentials": {
        "openAiApi": {
          "id": "oleFvbVuIdcz5uPJ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "sendTo": "={{ $json.senderEmail }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        1568,
        1520
      ],
      "id": "2ca4a2e6-e0ac-4cf3-a8d1-85c653a2489b",
      "name": "Create Gmail Draft",
      "webhookId": "60dfc524-15eb-49d7-9726-adc6bcc8da30",
      "credentials": {
        "gmailOAuth2": {
          "id": "wPwFwmuRon71wArk",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📲 Alerts\nTelegram notifications for important emails.\n\nThis makes the workflow useful for personal productivity too.",
        "height": 280,
        "width": 360,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1680,
        1152
      ],
      "id": "a4a36dd8-b468-4807-aa88-69f0f6abbd76",
      "name": "Sticky Note - Alerts"
    },
    {
      "parameters": {
        "chatId": "1430299346",
        "text": "=New Inquiry received from  {{ $('Gmail Trigger').item.json.From.split(\"<\"),first }}  About : {{ $('Gmail Trigger').item.json.Subject }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1808,
        1312
      ],
      "id": "1a9aa314-e9e5-4a89-9665-fdc1e407d55e",
      "name": "Telegram Important Alert",
      "webhookId": "a800e8fa-536b-47ab-9531-c7d19482902a",
      "credentials": {
        "telegramApi": {
          "id": "BNudyHDIJK7CT0i3",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1430299346",
        "text": "=💼 Job Opportunity Detected\n\nPriority: {{ $json.priority }}\n\nFrom: {{ $json.senderName }}\nEmail: {{ $json.senderEmail }}\nSubject: {{ $json.subjectLine }}\n\nReason: {{ $json.reason }}\n\nSnippet:\n{{ $json.snippetText }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        1488
      ],
      "id": "8b8655c9-c817-4ad1-84bf-caa322ebf023",
      "name": "Telegram Job Alert",
      "webhookId": "5f353bfe-a1e4-4ecb-96ca-996f640d33a9",
      "credentials": {
        "telegramApi": {
          "id": "BNudyHDIJK7CT0i3",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1430299346",
        "text": "=📚 Assignment / Academic Task Detected\n\nPriority: {{ $json.priority }}\n\nFrom: {{ $json.senderName }}\nEmail: {{ $json.senderEmail }}\nSubject: {{ $json.subjectLine }}\n\nReason: {{ $json.reason }}\n\nSnippet:\n{{ $json.snippetText }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        1632
      ],
      "id": "f4de53e0-26ef-4451-ae79-375c57867254",
      "name": "Telegram Assignment Alert",
      "webhookId": "56812d04-a81b-4b3d-b2cb-15230499282b",
      "credentials": {
        "telegramApi": {
          "id": "BNudyHDIJK7CT0i3",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1430299346",
        "text": "=📢 Promotional Email Detected\n\nFrom: {{ $json.senderName }}\nSubject: {{ $json.subjectLine }}\nReason: {{ $json.reason }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        1760
      ],
      "id": "a3f57e76-e1f5-4278-bacd-6a953c48b348",
      "name": "Telegram Promo Optional",
      "webhookId": "0737f596-c6c2-41a2-8082-db8f16a08396",
      "credentials": {
        "telegramApi": {
          "id": "BNudyHDIJK7CT0i3",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -624,
        1296
      ],
      "id": "ff0a8fb5-0b64-4614-93b9-342037d3288c",
      "name": "Gmail Trigger1",
      "credentials": {
        "gmailOAuth2": {
          "id": "wPwFwmuRon71wArk",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use company support knowledge to answer support and order related questions.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list"
        },
        "topK": 10,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1312,
        1520
      ],
      "id": "1044bb51-33ab-4d19-a54b-284bd5f75cad",
      "name": "Vector_store1",
      "credentials": {
        "supabaseApi": {
          "id": "4rSo1ghKRtaoHdgW",
          "name": "N8N  _RAG_Test"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1312,
        1680
      ],
      "id": "5ef55bca-7e36-4e39-9abb-ebdedd8d7f0e",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "oleFvbVuIdcz5uPJ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "content": "## how to  chat ID of  Telegram : \nusing -> https://api.telegram.org/bot<YOUR_BOT_TOKEN>/getUpdates",
        "width": 432,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        1936
      ],
      "typeVersion": 1,
      "id": "0ce9a3f1-c025-401f-9077-25ca40f8f429",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19d51917557c344a",
          "threadId": "19d51917557c344a",
          "snippet": "naukri.com Quiz Will you accept this challenge? naukri campus presents Bizquezt #30 - Business Technology and Digital Transformation Rounds : 1 Duration : 5 Apr - 5 Apr Participants : Individual What",
          "payload": {
            "mimeType": "multipart/mixed"
          },
          "sizeEstimate": 35880,
          "historyId": "1366306",
          "internalDate": "1775189969000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "Naukri Alerts <eventnc@naukri.com>",
          "To": "amitprasad212003@gmail.com",
          "Subject": "naukri campus : Last few days to enroll for Quiz"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "EmailBody": [
      {
        "json": {
          "emailBodys": "naukri.com Quiz Will you accept this challenge? naukri campus presents Bizquezt #30 - Business Technology and Digital Transformation Rounds : 1 Duration : 5 Apr - 5 Apr Participants : Individual What"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Gmail Trigger1": [
      {
        "json": {
          "id": "19d51d692f3d6c92",
          "threadId": "19d51d692f3d6c92",
          "snippet": "Read the latest tutorials and news curated for you. ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 201113,
          "historyId": "1366623",
          "internalDate": "1775190199000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_PROMOTIONS",
              "name": "CATEGORY_PROMOTIONS"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "NVIDIA Developer Relations <news@nvidia.com>",
          "To": "amitprasad212003@gmail.com",
          "Subject": "Your Personalized Developer News from NVIDIA"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Prepare_Email_Text": [
      {
        "json": {
          "emailText": "Subject: Your Personalized Developer News from NVIDIA\nFrom: NVIDIA Developer Relations <news@nvidia.com>\nTo: amitprasad212003@gmail.com\nSnippet: Read the latest tutorials and news curated for you. ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌",
          "subjectLine": "Your Personalized Developer News from NVIDIA",
          "senderName": "NVIDIA Developer Relations",
          "senderEmail": "news@nvidia.com",
          "snippetText": "Read the latest tutorials and news curated for you. ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Classify_Email_Safely": [
      {
        "json": {
          "emailText": "Subject: Your Personalized Developer News from NVIDIA\nFrom: NVIDIA Developer Relations <news@nvidia.com>\nTo: amitprasad212003@gmail.com\nSnippet: Read the latest tutorials and news curated for you. ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌",
          "subjectLine": "Your Personalized Developer News from NVIDIA",
          "senderName": "NVIDIA Developer Relations",
          "senderEmail": "news@nvidia.com",
          "snippetText": "Read the latest tutorials and news curated for you. ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌",
          "category": "Assignment",
          "priority": "high",
          "reason": "Academic task or deadline email"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "EmailBody",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EmailBody": {
      "main": [
        [
          {
            "node": "Classify_Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify_Email": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify_Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector_store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Vector_store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare_Email_Text": {
      "main": [
        [
          {
            "node": "Classify_Email_Safely",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify_Email_Safely": {
      "main": [
        [
          {
            "node": "Route_By_Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route_By_Category": {
      "main": [
        [
          {
            "node": "AI Support Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Support Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Job Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Assignment Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Promo Optional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Support Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Support Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Gmail Draft": {
      "ai_tool": [
        [
          {
            "node": "AI Support Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Support Agent": {
      "main": [
        [
          {
            "node": "Telegram Important Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "Prepare_Email_Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector_store1": {
      "ai_tool": [
        [
          {
            "node": "AI Support Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Vector_store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c4b6bee6-0470-4679-94f9-7dc99fb31aae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eac29999dec5e9ef1f2efe848f69dbc5614cfd656c8db5320979b69cba9789f1"
  },
  "id": "mAzP7Ueh7vlt9LIe",
  "tags": []
}