AskAnythingFormPDF.json
{
  "name": "AskAnythingFormPDF",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1RZhTQhE4DNzVo0Ip_tI4r4_JL_yyUmW6",
          "mode": "list",
          "cachedResultName": "RAG Example",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1RZhTQhE4DNzVo0Ip_tI4r4_JL_yyUmW6"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "08a7ea80-a620-4640-8ccd-3edc1b48475c",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VHShjmt0zzVHH4uT",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "ab85e103-b5df-49dd-a5e5-fe1cd5ed46d1",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VHShjmt0zzVHH4uT",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "cfea07bc-36dd-4a15-92bb-f1d0fb3042ce",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "4rSo1ghKRtaoHdgW",
          "name": "N8N  _RAG_Test"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        192
      ],
      "id": "a51367cc-b690-4aac-83a7-6188f58d1dcf",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "oleFvbVuIdcz5uPJ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        192
      ],
      "id": "51ad8b72-c648-49a4-8421-01914949fcb2",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\nYou are a highly intelligent information extraction assistant.\n\nYour role is to answer user queries strictly using the provided Vector_store data.\n\n# Tools\nVector_store:\n- This MUST be used for answering all user queries.\n- Do NOT rely on prior knowledge if data exists in the Vector_store.\n\n# Rules\n- ALWAYS retrieve and base your answer on the Vector_store.\n- If the answer is not found in the Vector_store, respond with:\n  \"I could not find relevant information in the provided data.\"\n- Keep answers concise, clear, and to the point.\n- Do NOT hallucinate or make up information.\n- Maintain factual accuracy at all times.\n\n# Response Style\n- Be direct and structured.\n- Avoid unnecessary explanations unless asked."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        320,
        544
      ],
      "id": "3d6d12cd-d842-4126-8753-3883a49fda47",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        32,
        544
      ],
      "id": "116ac11b-b3a5-4a51-aec6-8234e7328a3d",
      "name": "When chat message received",
      "webhookId": "bdeb4826-2a6b-4354-837b-8e5bb2276059"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        128,
        784
      ],
      "id": "efc7bc53-19ba-4ab3-b8b2-05aaa7347e61",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oleFvbVuIdcz5uPJ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        304,
        768
      ],
      "id": "b5ce49c0-0699-4396-9c4b-16523cf9f2bc",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        544,
        960
      ],
      "id": "ca2625b5-6497-4b68-9583-27eb9da34e18",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "oleFvbVuIdcz5uPJ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with data from the superbase vector database.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        544,
        784
      ],
      "id": "67a8582c-8d9f-4a66-9b01-5049809949d6",
      "name": "Vector_store",
      "credentials": {
        "supabaseApi": {
          "id": "4rSo1ghKRtaoHdgW",
          "name": "N8N  _RAG_Test"
        }
      }
    },
    {
      "parameters": {
        "content": "## Step : 1 New Document into the Superbase.\nThis is doing a new document into the vector database.\n",
        "height": 464,
        "width": 976
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        -128
      ],
      "id": "d21c9568-3f58-4060-8447-e062a523c2ee",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Step 2 : Querying the vector database.\nThis is quierying the vector database.",
        "height": 736,
        "width": 976,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        384
      ],
      "id": "19c84681-c897-44f5-b126-2e0c0f608e98",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Vector_store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector_store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7e5e4a6f-22ed-48cc-9cfe-05a2910c4954",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eac29999dec5e9ef1f2efe848f69dbc5614cfd656c8db5320979b69cba9789f1"
  },
  "id": "Oi34E8L8ckD6tzkE",
  "tags": []
}