Invoice Parsing Workflow (1).json
{
  "name": "Invoice Parsing Workflow.",
  "nodes": [
    {
      "parameters": {
        "content": "## 1. Watch New Invoices\nwatch new invoice added to drive folder and download them",
        "height": 320,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6986ed5a-b246-4b7f-837b-17b95a866aac",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1VEbMOY5GIyC5egGHrZMmdFbYua-zHcB5",
          "mode": "list",
          "cachedResultName": "TestInovice",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1VEbMOY5GIyC5egGHrZMmdFbYua-zHcB5"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        80,
        144
      ],
      "id": "6f3f6ce6-f9fa-4d52-9507-8908b5d1329c",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6DzvtLHSMnfDVEWD",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        352,
        144
      ],
      "id": "f97ba545-22bb-4b6c-9398-aa70a2c23b6e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6DzvtLHSMnfDVEWD",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "## 2. Extract Text\n\n",
        "height": 320,
        "width": 528,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        0
      ],
      "id": "f3a1e4bb-cf69-498a-90d6-1b57de0f5b11",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        608,
        144
      ],
      "id": "6fb79452-001c-43c4-9e43-e593fcc2a6f9",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Customer Name",
              "description": "This is the name of the customer",
              "required": true
            },
            {
              "name": "Company Name",
              "description": "This is the name of the company",
              "required": true
            },
            {
              "name": "email",
              "description": "this is the mail of the customer",
              "required": true
            },
            {
              "name": "Ardess",
              "description": "This is the address of the customer",
              "required": true
            },
            {
              "name": "Invoice_Number",
              "description": "this is the number of the invoice",
              "required": true
            },
            {
              "name": "Date",
              "type": "date",
              "description": "this is the date of the invoice",
              "required": true
            },
            {
              "name": "Status",
              "description": "This is the status if the paymens",
              "required": true
            },
            {
              "name": "Total Amount",
              "description": "This is the total amount of the invoice",
              "required": true
            },
            {
              "name": "Payment Method",
              "description": "this is the Payment method of the Invoice",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        800,
        144
      ],
      "id": "4f430f71-7848-435c-aef5-d8ea7f4472ac",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        800,
        336
      ],
      "id": "face5699-0f74-4a17-84c0-23e78717ec9a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "EGZUpsSE6kCdxcIg",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "content": "## #. Add to DB\nAdd the invoice info to DB GSDB",
        "height": 320,
        "width": 304,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1152,
        0
      ],
      "id": "894a1608-3011-4fe8-a744-987e30946e20",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 4.Send Email to Billing team\nInform billing team that invoice was processed\n",
        "height": 320,
        "width": 496,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1504,
        0
      ],
      "id": "d6eedade-736c-403f-8464-ab4ccd4a2e11",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "=system",
              "content": "=#Overview\n\nYou are an email expert for JM Media named Jennie. You will receive invoice information. Your job is to notify the internal billing team that an invoice was received/sent.\n\n## Email\n\nIn the email, make sure to also include that the system has added the fields to the Google Sheets DB which they can view here:\nhttps://docs.google.com/spreadsheets/d/1HnHDI-qI8XVtZDP3S0mq_Xh2gBWKFYnml0qk8nGkGvo/edit?usp=sharing\n\n## Output\n\nYour output should be in the following JSON format:\n\n{\"subjectLine\":\"subjectLineHere\", \"EmailBody\":\"bodyEmailHere\"}\n\n## Rules\n\n- Don't include any markdown formatting\n- Make sure the email is in HTML format"
            },
            {
              "content": "=Invoice Number : {{ $json['Invoice Number '] }}\nClinet Name : {{ $json['Clinet Name'] }}\nClinet Email : {{ $json['Clinet Email'] }}\nTotal Amount :{{ $json['Toatal Amount '] }}\nInvoice Date :{{ $json['Invoice Date '] }}\nStatus :{{ $json.Status }}\nPayment method :{{ $json['Payment Method'] }}\n\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1520,
        144
      ],
      "id": "e77da267-a3a3-4f24-baab-f915d483ce2f",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "EGZUpsSE6kCdxcIg",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "nothing70299659@gmail.com",
        "subject": "={{ $json.output[0].content[0].text.subjectLine }}",
        "message": "={{ $json.output[0].content[0].text.EmailBody }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1872,
        144
      ],
      "id": "6a46afc2-ccc7-4002-b037-e1684abf6817",
      "name": "Send a message",
      "webhookId": "2d4344f2-dfae-4b0b-bd7a-2e4acadd5226",
      "credentials": {
        "gmailOAuth2": {
          "id": "5ClTir3ceF8W9PaH",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1HnHDI-qI8XVtZDP3S0mq_Xh2gBWKFYnml0qk8nGkGvo",
          "mode": "list",
          "cachedResultName": "Test_Invoice_Info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HnHDI-qI8XVtZDP3S0mq_Xh2gBWKFYnml0qk8nGkGvo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HnHDI-qI8XVtZDP3S0mq_Xh2gBWKFYnml0qk8nGkGvo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number ": "={{ $json.output.Invoice_Number }}",
            "Clinet Name": "={{ $json.output['Customer Name'] }}",
            "Clinet Email": "={{ $json.output.email }}",
            "Payment Method": "={{ $json.output['Payment Method'] }}",
            "Status": "={{ $json.output.Status }}",
            "Invoice Date ": "={{ $json.output.Date }}",
            "Toatal Amount ": "={{ $json.output['Total Amount'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice Number ",
              "displayName": "Invoice Number ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Clinet Name",
              "displayName": "Clinet Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Clinet Email",
              "displayName": "Clinet Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Toatal Amount ",
              "displayName": "Toatal Amount ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date ",
              "displayName": "Invoice Date ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment Method",
              "displayName": "Payment Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1232,
        144
      ],
      "id": "f407134d-9990-47b7-9061-751e30407ffe",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P1pQqENgaNWitZcx",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {
    "Google Drive Trigger": [
      {
        "json": {
          "parents": [
            "1VEbMOY5GIyC5egGHrZMmdFbYua-zHcB5"
          ],
          "lastModifyingUser": {
            "displayName": "nothing",
            "kind": "drive#user",
            "me": true,
            "permissionId": "01189179999669744598",
            "emailAddress": "nothing70299659@gmail.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocLRqXZeGyLrqxL4HpGn485enRYWcpTEchpmjJERUyCZQozRXQ=s64"
          },
          "owners": [
            {
              "displayName": "nothing",
              "kind": "drive#user",
              "me": true,
              "permissionId": "01189179999669744598",
              "emailAddress": "nothing70299659@gmail.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocLRqXZeGyLrqxL4HpGn485enRYWcpTEchpmjJERUyCZQozRXQ=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "01189179999669744598",
              "type": "user",
              "emailAddress": "nothing70299659@gmail.com",
              "role": "owner",
              "displayName": "nothing",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocLRqXZeGyLrqxL4HpGn485enRYWcpTEchpmjJERUyCZQozRXQ=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "01189179999669744598"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1CN8fJTTuDGBgDx0UWOoFE1BZ5R3TVMua",
          "name": "Receipt pay_SYxbpYQxqVYHNz from Preeti Foundation  (Paid).pdf",
          "mimeType": "application/pdf",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "2",
          "webContentLink": "https://drive.google.com/uc?id=1CN8fJTTuDGBgDx0UWOoFE1BZ5R3TVMua&export=download",
          "webViewLink": "https://drive.google.com/file/d/1CN8fJTTuDGBgDx0UWOoFE1BZ5R3TVMua/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/pdf",
          "hasThumbnail": true,
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBMDzmWS6ygCIqnHlxAK7xk42evtXaZMMgYx1mG8lE6dN9xbM-3cm1Hk-m9xQdHAb67VmGWxHLh6nPJwzJJd3U4aTnUJUHgSElprqzNOUeDHdMc8Xw=s220",
          "thumbnailVersion": "1",
          "viewedByMe": true,
          "viewedByMeTime": "2026-04-07T12:00:34.720Z",
          "createdTime": "2026-04-07T12:00:34.720Z",
          "modifiedTime": "2026-04-03T09:03:05.000Z",
          "modifiedByMeTime": "2026-04-03T09:03:05.000Z",
          "modifiedByMe": true,
          "shared": false,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "originalFilename": "Receipt pay_SYxbpYQxqVYHNz from Preeti Foundation  (Paid).pdf",
          "fullFileExtension": "pdf",
          "fileExtension": "pdf",
          "md5Checksum": "a5a2a9af7acb2455296f3e40461d5861",
          "sha1Checksum": "c4e3f20a9888eea14dfb0df22df57c59d0f73922",
          "sha256Checksum": "0f1a528aac5f50a6f52f238faa8d6de3290655613932beadb6e9df99b4283237",
          "size": "29861",
          "quotaBytesUsed": "29861",
          "headRevisionId": "0B9dM7U8vHRXoajN0UDB5aTk3NnNydVlhVERjdm9tUWNJU2RRPQ",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Append row in sheet": [
      {
        "json": {
          "Invoice Number ": "pay_SYxbpYQxqVYHNz",
          "Clinet Name": "Amit Prasad",
          "Clinet Email": "amitprasad212003@gmail.com",
          "Payment Method": "Razorpay",
          "Status": "Paid",
          "Invoice Date ": "2026-04-03",
          "Toatal Amount ": "₹ 1,445.00"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Message a model": [
      {
        "json": {
          "output": [
            {
              "id": "msg_0d81e040f9a7c6230069d5b84d7618819bb86cabd88403cbe2",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": {
                    "subjectLine": "Invoice Received: pay_SYxbpYQxqVYHNz for Amit Prasad",
                    "EmailBody": "<p>Dear Billing Team,</p><p>We have received the invoice with the following details:</p><ul><li><strong>Invoice Number:</strong> pay_SYxbpYQxqVYHNz</li><li><strong>Client Name:</strong> Amit Prasad</li><li><strong>Client Email:</strong> amitprasad212003@gmail.com</li><li><strong>Total Amount:</strong> ₹ 1,445.00</li><li><strong>Invoice Date:</strong> 2026-04-03</li><li><strong>Status:</strong> Paid</li><li><strong>Payment Method:</strong> Razorpay</li></ul><p>The system has successfully added these fields to the Google Sheets database. You can view the updated data here: <a href=\"https://docs.google.com/spreadsheets/d/1HnHDI-qI8XVtZDP3S0mq_Xh2gBWKFYnml0qk8nGkGvo/edit?usp=sharing\">Invoice Data Sheet</a>.</p><p>Best regards,<br>Jennie<br>JM Media</p>"
                  }
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a2305626-d816-408e-892c-e40b668508dd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dc4a075e6492d61b4f57cea8c6c9ce8f898ad564e0c6a185aa6956e85714e842"
  },
  "id": "oC2agqeUaUsXlDYw",
  "tags": []
}